.app {
  background: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
}

.default-icon {
  width: 960px;
  height: 540px;
}

.lebron {
}

.weather-cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Tạo thanh trượt ngang khi cần thiết */
  padding-bottom: 20px;
  max-width: 100%; /* Đảm bảo container không vượt quá kích thước của trang */
}

.weather-cards {
  flex: 0 0 auto;
  width: 200px;
}
